//------------------zmienne
$field_size: 62px;
$ico_size: 50px;
$mine_padding: 4px;
$avatar_size: 50px;
//------------------/zmienne

body {
  color: white;
  font-size: 22px;
  background: black;
  width: 100%;

  .avatar {
    width: $avatar_size;
    height: $avatar_size;
  }

  #bs-example-navbar-collapse-1 > ul > li > a {
    padding: {
      top: 30px;
      bottom: 30px;
    }
  }

  .navbar-header, .navbar-right > .btn-group {
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }

  .navbar-right > .btn-group {
    padding-left: 10px;
  }

  aside {
    background-color: blue;
  }

  section {
    margin-bottom: 20px;
  }

  footer {
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
    border-top: 1px solid white;
  }

  .btn.btn-default {
    color: #fff;
    background-color: #3a3a3a;
  }

  .no-decorate, .no-decorate:hover {
    text-decoration: none;
  }

  .grey {
    color: gray;

    input.form-control {
      background-color: grey;
      border-color: grey;
    }
  }
}

/*
----------------------------------------------------------------
--------------------------------------------------<index>
*/

.index {
  img {
    display: block;
    margin: 0 auto;
  }
}

/*
--------------------------------------------------</index>
----------------------------------------------------------------
--------------------------------------------------<plansza>
*/

.board {
  .board-container {
    overflow: auto;
    #table {
      white-space: nowrap;
    }
  }

  & > div {
    margin-bottom: 20px;
  }

  .new-game {
    width: $ico_size;
    height: $ico_size;
  }

  .row .col-md-5 {
    padding-top: 10px;
  }

  table {
    border: 1px solid white;
    margin: 0 auto;

    td {
      width: $field_size;
      height: $field_size;
      -moz-box-shadow: inset 0px -3px 7px 0px #3b3b3b;
      -webkit-box-shadow: inset 0px -3px 7px 0px #3b3b3b;
      box-shadow: inset 0px -3px 7px 0px #3b3b3b;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #000000));
      background: -moz-linear-gradient(top, #454545 5%, #000000 100%);
      background: -webkit-linear-gradient(top, #454545 5%, #000000 100%);
      background: -o-linear-gradient(top, #454545 5%, #000000 100%);
      background: -ms-linear-gradient(top, #454545 5%, #000000 100%);
      background: linear-gradient(to bottom, #454545 5%, #000000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#000000', GradientType=0);
      background-color: #454545;
      border: 1px solid #0b0e07;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-size: 15px;
      padding: 9px 23px;
      text-decoration: none;
      text-shadow: 0 1px 0 #000000;

      &:hover {
        border: 1px solid #b5b5b5;
      }

      &:active {
        background: #8f8f8f;
      }

      &.blank {
        font-size: 30px;
        background: #b7b7b7;
        &.blank:active {
          background: #8f8f8f;
        }
      }

      &.field1 > div::after {
        content: "1";
        color: blue;
      }
      &.field2 > div::after {
        content: "2";
        color: green;
      }
      &.field3 > div::after {
        content: "3";
        color: red;
      }
      &.field4 > div::after {
        content: "4";
        color: yellow;
      }
      &.field5 > div::after {
        content: "5";
        color: cyan;
      }
      &.field6 > div::after {
        content: "6";
        color: magenta;
      }
      &.field7 > div::after {
        content: "7";
        color: orange;
      }
      &.field8 > div::after {
        content: "8";
        color: #6e0000;
      }

      //&.flag, &.mine, &.mine-red, &.covered
      td {
        padding: 0;
        div {
          width: $ico_size;
          height: $ico_size;
        }
      }

      &.flag, &.mine, &.mine-red {
        padding: {
          top: $mine_padding;
          left: $mine_padding;
        }
        & > div:after {
          width: $ico_size;
          height: $ico_size;
          content: '';
          display: inline-block;
          background-size: $ico_size $ico_size;
        }
      }

      &.flag > div:after {
        background-image: url("../res/flag.ico");
      }

      &.mine > div:after {
        background-image: url("../res/mine.ico");

      }

      &.mine-red > div:after {
        background-image: url("../res/mine-red.ico");
      }
    }
  }
}

/*
--------------------------------------------------</plansza>
----------------------------------------------------------------
--------------------------------------------------<wyniki>
*/

.records {
  .table-striped > thead > tr {
    background-color: #363636;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #060606;
  }

  .table-striped > tbody > tr:nth-of-type(even) {
    background-color: #252525;
  }

  .table-striped > tbody > tr > td{
    vertical-align: middle;
  }

  option {
    color: black;
  }
}

/*
--------------------------------------------------</wyniki>
----------------------------------------------------------------
*/